
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    box-sizing: border-box;
  }

body {
    font-family:'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
 }

 header {
    display: inline;
 }

 .jumbotron {
    padding: 60px;
    background-color: #5F9EA0;
    text-align: center;
    font-size: 20px;
    color: white;
  }

  
 nav {
    background-color: #008B8B;
    padding: 5px;
    position: sticky;
    top: 0;
  }

  nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 1.5rem
  }

 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(3, 0, 0, 0.863);
 }

 nav a:hover {
    font-weight: bold;
 }

 nav li {
    /*display: inline;*/
    list-style-type: none;
    /*margin-right: 20px;*/
  }


  footer {
    padding: 20px;
    color: white;
    background-color: #008B8B;
    text-align: center;
    font-weight: bold;
    display: block;
    }

  .featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
 }

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.menu {
    float: right;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

a.tbl-pink {
    background: #008B8B;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }


    .kartu-tutor {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }

    .tombol-menu {
        position: absolute;
        top: 1.7rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
    }
    
    .tombol-menu .garis {
        height: 3px;
        background-color: #3f72af;
    }
    
    @media screen and (max-width: 991.98px) {
        .logo a {
            display: inline;
        }
        .tombol-menu {
            display: flex;
        }
        nav .menu {
            display: none;
        }
        nav .menu.active {
            display: flex;
        }
        nav ul li {
            width:100%;
            border-bottom:1px solid #333333;
        }
    }
}