
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    font-family:'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
 }

 header {
    display: inline;
 }

 h2, h3 {
    font-family: Arial;
 }
 p {
    text-align: justify;
 }
 .jumbotron {
    padding: 60px;
    background-color: #5F9EA0;
    text-align: center;
    font-size: 20px;
    color: white;
  }

 footer {
    padding: 20px;
    color: white;
    background-color: #008B8B;
    text-align: center;
    font-weight: bold;
 }

 nav {
    background-color: #008B8B;
    padding: 5px;
    position: sticky;
    top: 0;
  }

  nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 1.5rem
  }

 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(3, 0, 0, 0.863);
 }

 nav a:hover {
    font-weight: bold;
 }

 nav li {
    /*display: inline;*/
    list-style-type: none;
    /*margin-right: 20px;*/
  }

 .profile header {
    text-align: center;
 }
 
 .profile img {
    width: 200px;
 }
 .featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
 }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color:#dbc4c4;
 }

 #content {
    flex: 5;
  }

  aside {
    flex: 1;
  }
  table{
    flex:1
  }

  main {
    padding: 20px;
    /*overflow: auto;*/
    display: flex;
    gap: 1.5rem;
  }

  * {
    box-sizing: border-box;
  }

  @media screen and (max-width: 1000px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }
  }

  @media screen and (max-width: 1200px) {
    main {
      flex-flow: column nowrap;
    }
    main aside {
      align-self: center;
    }
  }
   
  @media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}


 /*slider*/
.container {
    background-color: #dbc4c4;
    padding: 100px 0 0 0;
}

/* Slideshow container */
.content-slide {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.imgslide {
    display: none;
}

/*img {
    vertical-align: middle;
    width:100%;height: 400px;
}*/

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: rgb(255, 254, 224);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8); 
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.pre:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.text {
    color: #fafafa;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.content-slide .numberslide {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* resposive */

@media screen and (max-width: 800px) {

    .content-slide {
        padding: 8px 50px 12px 50px;
    }

    .next {
        right: 50px;
        border-radius: 3px 0 0 3px;
    }
    
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }    
    to {
        opacity: 1;
    }
}

.container .page {
    text-align: center;
    padding-top: 20px;
}

.page .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
}

.page .active,
.page .dot:hover {
    background-color: #945b5b;
}
